apiVersion: v1
kind: Service
metadata:
  name: grafana
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/part-of: heart-disease-prediction
  annotations:
    service.beta.kubernetes.io/azure-dns-label-name: heart-disease-grafana-2024ab05112
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: monitoring
  ports:
    - name: http
      port: 80
      targetPort: 3000
      nodePort: 30000
      protocol: TCP
