# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# MLflow
mlruns/

# Models & artifacts
models/
*.pkl
*.joblib
*.png 

# Logs
*.log
logs/
app_log/

# Coverage
htmlcov/
.coverage

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
