name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend-build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Install dependencies
      working-directory: ./backend
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install flake8 pytest httpx

    - name: Lint with flake8
      working-directory: ./backend
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Run tests
      working-directory: ./backend
      run: |
        pytest tests/ --junitxml=../reports/backend-test-report.xml

    - name: Upload Test Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: backend-test-report
        path: reports/backend-test-report.xml

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Backend Docker Image
      working-directory: ./backend
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/heart-disease-api:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/heart-disease-api:latest

  frontend-build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Frontend Docker Image
      working-directory: ./frontend
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/heart-disease-frontend:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/heart-disease-frontend:latest
