# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 src 
    - name: Run tests
      run: |
        pip install httpx
        pytest tests/ --junitxml=reports/test-report.xml

    - name: Upload test report
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: reports/test-report.xml

    - name: Train model
      run: |
        python main_pipeline.py
